.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.container {
  padding: 0px  30px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

img {
    max-width: auto;
    max-height: 250px;
    border-radius: 6px;
}

hr {
    background-color: gray;
}
