.page-footer {
    text-align: center;
    background-color: black;
    min-height: 50px;
    color: gray;
}

.line {
    height: 6px;
    padding-top: 3px;
    background-image: linear-gradient(to right, black, gray);
}

